#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.main{
  display: flex;
}

.side-var{
  min-width: 190px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.select_item{
  border: 1px solid rgb(136, 136, 136);
  border-radius: 10px;
  padding: 5px;
}

.select_item:hover{
  border: 1px solid white;
}

.item-select{
  border: 1px solid white;
  margin-left: 5px;
  border-radius: 10px;
  padding: 10px;
}

.selected-item{
  background-color: rgb(107, 107, 107);
  border-radius: 10px;
}