*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  border: 1px solid pink;
}

.header{
  display: flex;
  justify-content: center;
  gap: 30px;
  align-items: center;
  border: 1px solid yellowgreen;
}

.header ul{
  display: flex;
  flex-direction: column;
  position: absolute;
}

li{
  border: 1px solid yellow;
  display: flex;
  width: 50px;
}

.sub-ul{
  position: relative;
  width: 200px;
  border: 1px solid blue;
}

.sub-ul ul{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  align-items: end;
  border: 1px solid red;
}

.sub-ul li{
  width: 50%;
}