*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root{
  border: 1px solid pink;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid yellowgreen;
}

.header ul{
  display: flex;
  gap: 40px;
}