*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  max-width: 1280px;
  text-align: center;
}

.header-nav{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding-right: 40px;
  padding-left: 40px;
}

.header-nav-dark{
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.main{
  border-top: 1px solid red;
  display: flex;
  flex-flow: column wrap;

  justify-content: center;
  align-items: center;
}

.main-dark{
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}