#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.imgss{
  width: 833px;
  height: 555px;
}

.contenedor{
  border: 1px solid white;
  padding: 10px;
  border-radius: 5px;
}

.contenedor-img{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.bolitas{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px;
}

.bolita{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
}

.bolita-select{
  background-color: lightskyblue;
}

.bolita:hover{
  background-color: lightskyblue;
}

button{
  width: 100px;
  height: 50px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
