* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p{
  color: white;
  font-size: 2rem;
}

ul{
  display: flex;
  flex-flow: row wrap;
}

li{
  color: white;
  display: flex;
  flex-direction: column;
}

img{
  width: 100px;
  height: 100px;
}